<a href="/dashboard">&larr; Back</a>
<div>
    <h2>Add new Post</h2>
</div>

<form action="/add-post" method="POST">
    <label for="title" ><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="body"><b>Content</b></label>
    <textarea name="body" id="add_post_textarea" cols="30" rows="10"></textarea>

    <input type="submit" value="Add" class="btn">
</form>