<h3>Sign in</h3>

<form action="/admin" method="post">
    <label for="username_login"><b>Username</b></label>
    <input type = "text" id="username_login" placeholder="Enter Username" name="username" autocomplete="off">
    

    <label for = "password_login"><b>Password</b></label>
    <input type="password" id="password_login" placeholder="Enter Password" name="password">

    <input type="submit" class="btn" value="Login">
</form>

<!-- <h3>Register</h3>

<form action="/register" method="post" id="registerForm">
    <label for="username_register"><b>Username</b></label>
    <input type = "text" id="username_register" placeholder="Enter Username" name="username" autocomplete="off">
    

    <label for = "password_register"><b>Password</b></label>
    <input type="password" id="password_register" placeholder="Enter Password" name="password">

    <input type="submit" class="btn" value="Register">
</form> -->